* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* Reset - Zerar todos os valores */
}

body > header {
   background-color: #2f3640;
   padding: 16px 0;
   color: darkgray;
   position: fixed;
   left: 0;
   right: 0;
}
/* O sinal > significa FILHO DIRETO, busca o header que é filho direto de body
no index.html há headers também para os articles, assim o sinal > delimita para o header da página*/

header .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header h1 {
   font-size: 2em; /* 2em = 32px 200%*/
}

header li a {
   color: darkgray;
   font-size: 20px;
   text-decoration: none;
}

header li a:hover {
   text-decoration: underline;
}

header li {
   display: inline;
   margin-left: 10px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
}

.container {
   width: 1366px;
   margin: 0 auto;
}

.articles {
   display: flex;
   flex-wrap: wrap; /* Quebra a linha quando a largura chegar ao limite definido para a class container*/
   justify-content: space-between; /* Distribuiu o espeço restante 10% entre os objetos */
   text-align: justify;
}

.articles article img {
   max-width: 100%;
   height: auto;
   object-fit: cover; /* Define que a imagem deve preencher toda a área disponível */
   aspect-ratio: 16 / 11;
   object-position: center;
}

.articles article {
   width: 30%;
   /* busca limitar a no max 3 articles por linha
   usado juntamente com a propriedade flex-wrap */
}

.articles article h3 {
   margin: 8px auto;
   font-size: 1.25em; /* 20px / 16 = 1,25em ou 125% */
}

.articles article a {
   background-color: rgb(72, 72, 122);
   color: white;
   padding: 8px;
   display: inline-block;
   border-radius: 7px;
   margin-top: 8px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   text-decoration: none;
}

.articles article a:hover {
   text-decoration: underline;
}

.articles article p {
   font-family: Arial, Helvetica, sans-serif;
   /* font-size: 16px; 1em default*/
}

section {
   padding: 16px 0;
}

section h2 {
   z-index: 5;
   font-size: 1.75em; /* 28px / 16 = 1,75em ou 175% */
   color: blue;
}

section h2,
.articles article {
   margin-bottom: 16px;
}

#sports {
   background-color: rgba(72, 72, 122, 0.1);
}

#economy {
   background-color: rgba(196, 197, 125, 0.1);
}

#entertainment {
   background-color: rgba(122, 72, 72, 0.15);
}

#tecnology {
   background-color: rgba(100, 170, 171, 0.15);
}

/*
FONTES FICA BOM VARIAR DE 8 EM 8px H1 = 32px // H2 = 24px

com id usa-se # e 
   class use . "Ponto"
   * propriedade global */
